:root {
  --bg: #fff;
  --title-color: #333;
}

body {
  background-color: var(--bg);
  color: #9e9e9e;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  box-sizing: border-box;
  width: 100%;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em 0;
}

section.links {
  margin: 0 auto;
  max-width: 600px;
  padding: 3em 0;
}

.paint {
  color: #e91e63;
}

.face {
  background-image: url(https://cdn.jsdelivr.net/gh/ealush/ealush.github.io@master/face.jpg);
  border-radius: 50%;
  background-size: 8em;
  min-height: 8em;
  width: 8em;
}

a {
  text-decoration: none;
  color: #e91e63;
  padding: 4px 6px;
}

a:hover {
  color: #d0054a;
  text-decoration: underline;
  background: rgb(198, 175, 183, 0.2);
  border-radius: 3px;
  transition: background 0.2s;
}

a:active {
  color: #ff387d;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.5em;
}

ul {
  padding-bottom: 1em;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  margin: 0.5em 0;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0 !important;
}

h1,
h2 {
  color: var(--title-color);
  font-weight: 700;
}
